*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: blue;
    --secondary-color: black;
    --accent1-color: darkblue; 
    --accent2-color: rgb(100, 221, 100);
    --heading-font: "Times New Roman";
    --body-font: sans-serif;
}

body{
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer{
    width: 849px;
    margin: 0px;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.hero article{
    position: absolute;
    background-color: var(--accent2-color);
    top: 80px;
}

.hero article img{
    float: right;
    width: 125px;
}