*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: blue;
    --secondary-color: black;
    --accent1-color: darkblue; 
    --accent2-color: rgb(100, 221, 100);
    --heading-font: "Times New Roman";
    --body-font: sans-serif;
}

body{
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer{
    width: 849px;
    margin: 10px;
}

header{
    display: grid;
    grid-template-columns: 300px 2fr;
    align-items: center;
    background-color: plum;
    border: 1px solid var(--secondary-color);
}
    
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.adventure img{
    width: 150px;
    height: auto;
}

.adventure figure{
    text-align: center;
}

.adventure {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 10px;
}


.history-box{
    border: 1px solid var(--secondary-color);
    margin: 20px 0;
}

.history{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.history img{
    width: 300px;
    height: auto;
}

section{
    border: 1px solid var(--secondary-color);
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero-h1{
    text-align: center;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid var(--secondary-color);
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
}

h1{
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    /* background-color: var(--accent2-color); */
    color: var(--primary-color);
}

h2{
    text-align: center;
}

.hero article{
    position: absolute;
    background-color: var(--accent2-color);
    top: 80px;
}

.hero article img{
    float: right;
    width: 125px;
}

footer{
    border: 1px solid var(--secondary-color);
    background-color: plum;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p{
    text-align: center;
    flex: 1;
}

.socialmedia{
    display: flex;
    gap: 15px;
}


/* contact.html */
fieldset{
    display: grid;
}

input[type="text"],
input[type="email"]{
    width: 65%;
    padding: 6px;
}

textarea{
    width: 100%;
}

.name,
.email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.company{
    text-align: center;
}
.together{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
iframe{
    width: 400px;
    height: 400px;
}

.together form{
    display: grid;
}


.radio-group{
    display: flex;
    align-items: center;
    gap: 85px;
}


.radio{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

button{
    padding: 10px;
    font-size: large;
}

/* employee */
.employee{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.employee figure img{
    width: 200px;
    height: auto;
    margin: 1rem;
}


/* home */
.sc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.signup,
.call{
    margin: 10px 0;
    padding: 20px;
    border-radius: 20px;
}

.signup{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    background-color: antiquewhite;
}

.home-name,
.home-email{
    margin: 10px;
}
.signup button{
    margin: 10px;
    width: 75%;
    height: auto;
    align-self: center;
}

.call{
    text-align: center;
    background-color: antiquewhite;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
    padding: 10px;
    background-color: antiquewhite;
    gap: 20px;
}
.home-grid img{
    width: 100%;
    height: auto;
}

.home-grid figcaption{
    text-align: center;
}



/* Trips */
.contact-company{
    text-align: center;
    margin: 10px 0;
    background-color: antiquewhite;
}
.contact-company p,
.contact-company a{
    font-size: 1.2rem;
}



/*  */
.beginer,
.intermediate,
.group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
}
.detailed-trip{
    padding: 15px;
    text-align: center;
    align-content: space-around ;
}
.detailed-trip ul{
    display: block;
}
.detailed-content{
    background-color: antiquewhite;
    border: 1px solid black;
    margin: 0;
}



/* table */
.table{
    margin: 20px 0;
}

table{
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

table,
table th,
table td{
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
}

thead{
    background-color: black;
}
table thead{
    color: white;
}