table{
    border: solid 2px grey;
    border-collapse: collapse;
    letter-spacing: 1px;
}

th, td{
    border: solid 1px grey;
    text-align: center;
    padding: 8px 12px;
}

thead tr, tfoot tr{
    background-color: black;
    color: white;
    font-weight: 700;
}