*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

:root{
    --primary-color: black;
    --padding: 0px;
}

header, footer{
    max-width: 840px;
    margin: 0 auto;
}

header, .grid, footer{
    max-width: 840px;
    margin: 1rem;
}

.grid{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white; 
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}

h1 {
    color: darkblue;
    border-bottom: #0a0a0a;
}

h2{
    position: absolute;
    top: 10px;
    left: 55px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);
    color: var(--primary-color);
}

aside{
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    width: 220px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
    float: right;
}

p{
    padding: var(--padding);
}

footer{
    margin-top: 15px;
    border-top: 1px solid #0a0a0a;
    text-align: center;
}

/* Class Selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
    color: #0a0a0a;
}